* {
    box-sizing: border-box;
    background-color: lightblue;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
   
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  * {
    margin: auto;
    border: 5px;
}
  #about {
    display: inline-block
  }
  .hero-banner{
    margin: 20px;
  }

 .sjc {
  width: 150px;
  border-radius: 120px;
  overflow: hidden;
  display: inline-block;
  margin: 20px;

}
.sjc img {
  width: 100%;
 display: inline-block;
}
header {
  display: flex;
  justify-content: space-between; 
}

.projects-list .project:nth-child(1) img{
  width: 600px;
}

.project img {
  width: 300px;
}

.projects-list {
  display: grid;
  padding: 5px;
  grid-template-rows: 50% 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "preworkstudyguide preworkstudyguide"
  "challengeweek1 project3"
  "project4";
}
.prework-study-guide {
  grid-area: preworkstudyguide;
}

.challenge-week-1 {
  grid-area: challengeweek1;
  width: 500px
}

.project-3 {
  grid-area: project3;
 
}

.project-4 {
  grid-area: project4;
}

.page-section {
  margin-left: 20px; 
}
#contacts {
  display: flex;
  justify-content: space-around;
} 
