* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: cornflowerblue;
    background-blend-mode: hue;
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  * {
    margin: auto;
    border: 5px;
}

.sjc {
  width: 70px;
  border-radius: 60px;
  overflow: hidden;

}
.sjc img {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #CCCCFF;
}
.me {
  display: flex;
}
.projects-list .project:nth-child(1) img{
  width: 500px;
}

.project > img {
  width: 200px;
}
.project-list {
  display: grid;
  grid-template-rows: 50% 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  project1 project1
  project2 project3
  project4 project5;
}
.project-1 {
  grid-area: project1;
}

.project-2 {
  grid-area: project2;
}

.project-3 {
  grid-area: project3;
}

.project-4 {
  grid-area: project4;
}

.page-section {
  margin-left: 20px 
}
